@using System
@using SheetCutting.Models.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Cutting Sheet</h1>
    <p>This is a sample project that works with cut of sheet (metal, wood - no matter. Hemline and saw width are ignores.)</p>
</div>

<div class="row mb-5">
    <div class="fw-bold fs-4 text-center mb-3">
        Enter the size of the sheet:
    </div>
    <div class="col-md-6 col-12 mb-md-0 mb-3">
        <label asp-for="Sheet.Width"></label>
        <input asp-for="Sheet.Width" id="sheetWidthId" name="sheetWidth" oninput="detailOnInput(event)" placeholder="Width" class="form-control">
        <div id="sheetWidthValidationId" class="fw-bold text-danger"></div>
        @*<span asp-validation-for="Sheet.Width" class="text-danger"></span>*@
    </div>
    <div class="col-md-6 col-12 mb-0">
        <label asp-for="Sheet.Height"></label>
        <input asp-for="Sheet.Height" id="sheetHeightId" name="sheetHeight" oninput="detailOnInput(event)" placeholder="Height" class="form-control">
        <div id="sheetHeightValidationId" class="fw-bold textd"></div>
        @*<span asp-validation-for="Sheet.Height" class="text-danger"></span>*@
    </div>
</div>

<div id="detailsContainer" class="mb-5">


    @{
        int i = 0;
        //string disabled = "disabled";
    }
    @foreach (var detail in Model.DetailsInfo)
    {
        <div id="detailsInfo@(i)" class="row  mb-1 border border-3 rounded rounded-3">
            <div class="fw-bold text-center mb-1">
                Detail:
            </div>
            <div class="col-md-4 col-12 mb-4">
                <label asp-for="@detail.Width"></label>
                <input value="@detail.Width" name="detailWidth" type="number" oninput="detailOnInput(event)" class="form-control form-control-sm">
                <div name="detailWidthValidation" class="fw-bold text-danger"></div>
                @*<span asp-validation-for="@detail.Width" class="text-danger"></span>*@
            </div>
            <div class="col-md-4 col-12 mb-4">
                <label asp-for="@detail.Height"></label>
                <input value="@detail.Height" name="detailHeight" type="number" oninput="detailOnInput(event)" class="form-control form-control-sm">
                <div name="detailHeightValidation" class="fw-bold text-danger"></div>
                @*<span asp-validation-for="@detail.Height" class="text-danger"></span>*@
            </div>
            <div class="col-md-2 col-12 mb-4">
                <label asp-for="@detail.Count"></label>
                <input value="@detail.Count" name="detailCount" type="number" oninput="detailOnInput(event)" class="form-control form-control-sm" />
                <div name="detailCountValidation" class="fw-bold"></div>
                @*<span asp-validation-for="@detail.Count" class="text-danger"></span>*@
            </div>
            <div class="col-md-2 col-12 mb-md-0 mb-3 text-md-start text-center align-self-center">
                <button type="button" name="removeDetailInfo" id="removeDetailInfoId@(i)" onclick="removeDetailInfo(event)" style="background-color:@(detail.BackgroundColor)" class="btn btn-close text-center w-50"></button>
            </div>
        </div>

        i++;
        //disabled = "";
    }
    <div class="m-3 text-center">
        <button type="button" id="addDetailInfoId" onclick="addDetailInfo(event)" class="btn btn-success text-center m-auto">Add detail</button>
    </div>
</div>

<div id="detailsPartialId" class="">

    @await Html.PartialAsync("_DetailsPartial", Model)

</div>


<div class="bg-primary d-inline-block" style="width:100px;height:100px;">
    <div style="width:50px;height:50px" class="border border-1 border-dark bg-info">
    </div>
    <div class="bg-primary d-inline-block" style="width:50px;height:50px;">
        <div style="width:10px;height:10px" class="border border-1 border-dark bg-danger">
        </div>
    </div>
</div>


@section Scripts {
<script src="~/js/WorkWithSheet.js"></script>
}













@*<div class="text-center "> <-------------------------------- @Model.Sheet.Width --------------------------------> </div>
    <div class="bg-secondary bg-gradient m-auto p-0" style="width:@(Model.Sheet.Width)px; height:@(Model.Sheet.Height)px; font-size:0">
    @if (Model.CuttedDetails != null)
    {
    @foreach (var item in Model.CuttedDetails)
    {
    <div style="width:@(item.Width)px; height:@(item.Height)px; background-color:@(item.BackgroundColor); font-size:14px; opacity: 0.7" class="d-inline-block border border-2 border-dark bg-gradient m-0 p-0 text-center">
    <span style="opacity:1" class="top-50 position-relative">@(item.Width)x@(item.Height)</span>
    </div>
    }
    }
    </div>*@